<div>
    <h2 id="page-heading">
        <span jhiTranslate="psaRankingApp.event.home.title">Events</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event" [routerLink]="['/event/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="psaRankingApp.event.home.createLabel">
            Create a new Event
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="events?.length === 0">
        <span jhiTranslate="psaRankingApp.event.home.notFound">No events found</span>
    </div>
    <div class="table-responsive" *ngIf="events?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="psaRankingApp.event.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fromDate"><span jhiTranslate="psaRankingApp.event.fromDate">From Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="psaRankingApp.event.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="endInscriptionDate"><span jhiTranslate="psaRankingApp.event.endInscriptionDate">End Inscription Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span jhiTranslate="psaRankingApp.event.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createDate"><span jhiTranslate="psaRankingApp.event.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedDate"><span jhiTranslate="psaRankingApp.event.updatedDate">Updated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tournamentId"><span jhiTranslate="psaRankingApp.event.tournament">Tournament</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of events ;trackBy: trackId">
                <td><a [routerLink]="['/event', event.id, 'view' ]">{{event.id}}</a></td>
                <td>{{event.name}}</td>
                <td>{{event.fromDate | date:'mediumDate'}}</td>
                <td>{{event.endDate | date:'mediumDate'}}</td>
                <td>{{event.endInscriptionDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'psaRankingApp.Status.' + event.status}}">{{event.status}}</td>
                <td>{{event.createDate | date:'medium'}}</td>
                <td>{{event.updatedDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="event.tournamentId">
                        <a [routerLink]="['/tournament', event.tournamentId , 'view' ]" >{{event.tournamentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/event', event.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/event', event.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/event', { outlets: { popup: event.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="events?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
