<div>
    <h2 id="page-heading">
        <span jhiTranslate="psaRankingApp.person.home.title">People</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-person" [routerLink]="['/person/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="psaRankingApp.person.home.createLabel">
            Create a new Person
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="people?.length === 0">
        <span jhiTranslate="psaRankingApp.person.home.notFound">No people found</span>
    </div>
    <div class="table-responsive" *ngIf="people?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="names"><span jhiTranslate="psaRankingApp.person.names">Names</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="surnames"><span jhiTranslate="psaRankingApp.person.surnames">Surnames</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="email"><span jhiTranslate="psaRankingApp.person.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="phone"><span jhiTranslate="psaRankingApp.person.phone">Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="bornDate"><span jhiTranslate="psaRankingApp.person.bornDate">Born Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="psaId"><span jhiTranslate="psaRankingApp.person.psaId">Psa Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="eraseDate"><span jhiTranslate="psaRankingApp.person.eraseDate">Erase Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="active"><span jhiTranslate="psaRankingApp.person.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createDate"><span jhiTranslate="psaRankingApp.person.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedDate"><span jhiTranslate="psaRankingApp.person.updatedDate">Updated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="addressId"><span jhiTranslate="psaRankingApp.person.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="docTypeId"><span jhiTranslate="psaRankingApp.person.docType">Doc Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let person of people ;trackBy: trackId">
                <td><a [routerLink]="['/person', person.id, 'view' ]">{{person.id}}</a></td>
                <td>{{person.names}}</td>
                <td>{{person.surnames}}</td>
                <td>{{person.email}}</td>
                <td>{{person.phone}}</td>
                <td>{{person.bornDate | date:'medium'}}</td>
                <td>{{person.psaId}}</td>
                <td>{{person.eraseDate | date:'medium'}}</td>
                <td>{{person.active}}</td>
                <td>{{person.createDate | date:'medium'}}</td>
                <td>{{person.updatedDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="person.addressId">
                        <a [routerLink]="['/address', person.addressId , 'view' ]" >{{person.addressId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="person.docTypeId">
                        <a [routerLink]="['/doc-type', person.docTypeId , 'view' ]" >{{person.docTypeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/person', person.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/person', person.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/person', { outlets: { popup: person.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="people?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
