<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="person">
            <h2><span jhiTranslate="psaRankingApp.person.detail.title">Person</span> {{person.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="psaRankingApp.person.names">Names</span></dt>
                <dd>
                    <span>{{person.names}}</span>
                </dd>
                <dt><span jhiTranslate="psaRankingApp.person.surnames">Surnames</span></dt>
                <dd>
                    <span>{{person.surnames}}</span>
                </dd>
                <dt><span jhiTranslate="psaRankingApp.person.email">Email</span></dt>
                <dd>
                    <span>{{person.email}}</span>
                </dd>
                <dt><span jhiTranslate="psaRankingApp.person.phone">Phone</span></dt>
                <dd>
                    <span>{{person.phone}}</span>
                </dd>
                <dt><span jhiTranslate="psaRankingApp.person.bornDate">Born Date</span></dt>
                <dd>
                    <span>{{person.bornDate}}</span>
                </dd>
                <dt><span jhiTranslate="psaRankingApp.person.psaId">Psa Id</span></dt>
                <dd>
                    <span>{{person.psaId}}</span>
                </dd>
                <dt><span jhiTranslate="psaRankingApp.person.eraseDate">Erase Date</span></dt>
                <dd>
                    <span>{{person.eraseDate}}</span>
                </dd>
                <dt><span jhiTranslate="psaRankingApp.person.active">Active</span></dt>
                <dd>
                    <span>{{person.active}}</span>
                </dd>
                <dt><span jhiTranslate="psaRankingApp.person.createDate">Create Date</span></dt>
                <dd>
                    <span>{{person.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="psaRankingApp.person.updatedDate">Updated Date</span></dt>
                <dd>
                    <span>{{person.updatedDate}}</span>
                </dd>
                <dt><span jhiTranslate="psaRankingApp.person.address">Address</span></dt>
                <dd>
                    <div *ngIf="person.addressId">
                        <a [routerLink]="['/address', person.addressId, 'view']">{{person.addressId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="psaRankingApp.person.docType">Doc Type</span></dt>
                <dd>
                    <div *ngIf="person.docTypeId">
                        <a [routerLink]="['/doc-type', person.docTypeId, 'view']">{{person.docTypeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/person', person.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
