<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-person-heading" jhiTranslate="psaRankingApp.person.home.createOrEditLabel">Create or edit a Person</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.person.names" for="field_names">Names</label>
                    <input type="text" class="form-control" name="names" id="field_names"
                           formControlName="names"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.person.surnames" for="field_surnames">Surnames</label>
                    <input type="text" class="form-control" name="surnames" id="field_surnames"
                           formControlName="surnames"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.person.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.person.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           formControlName="phone"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.person.bornDate" for="field_bornDate">Born Date</label>
                    <div class="d-flex">
                        <input id="field_bornDate" type="datetime-local" class="form-control" name="bornDate" formControlName="bornDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.person.psaId" for="field_psaId">Psa Id</label>
                    <input type="text" class="form-control" name="psaId" id="field_psaId"
                           formControlName="psaId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.person.eraseDate" for="field_eraseDate">Erase Date</label>
                    <div class="d-flex">
                        <input id="field_eraseDate" type="datetime-local" class="form-control" name="eraseDate" formControlName="eraseDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.person.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.person.createDate" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" formControlName="createDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.person.updatedDate" for="field_updatedDate">Updated Date</label>
                    <div class="d-flex">
                        <input id="field_updatedDate" type="datetime-local" class="form-control" name="updatedDate" formControlName="updatedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.person.address" for="field_address">Address</label>
                    <select class="form-control" id="field_address" name="address" formControlName="addressId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="addressOption.id" *ngFor="let addressOption of addresses; trackBy: trackAddressById">{{addressOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.person.docType" for="field_docType">Doc Type</label>
                    <select class="form-control" id="field_docType" name="docType" formControlName="docTypeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="docTypeOption.id" *ngFor="let docTypeOption of doctypes; trackBy: trackDocTypeById">{{docTypeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
