<div>
    <h2 id="page-heading">
        <span jhiTranslate="psaRankingApp.roster.home.title">Rosters</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-roster" [routerLink]="['/roster/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="psaRankingApp.roster.home.createLabel">
            Create a new Roster
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="rosters?.length === 0">
        <span jhiTranslate="psaRankingApp.roster.home.notFound">No rosters found</span>
    </div>
    <div class="table-responsive" *ngIf="rosters?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="active"><span jhiTranslate="psaRankingApp.roster.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="profile"><span jhiTranslate="psaRankingApp.roster.profile">Profile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createDate"><span jhiTranslate="psaRankingApp.roster.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedDate"><span jhiTranslate="psaRankingApp.roster.updatedDate">Updated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="categoryId"><span jhiTranslate="psaRankingApp.roster.category">Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roster of rosters ;trackBy: trackId">
                <td><a [routerLink]="['/roster', roster.id, 'view' ]">{{roster.id}}</a></td>
                <td>{{roster.active}}</td>
                <td jhiTranslate="{{'psaRankingApp.ProfileUser.' + roster.profile}}">{{roster.profile}}</td>
                <td>{{roster.createDate | date:'medium'}}</td>
                <td>{{roster.updatedDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="roster.categoryId">
                        <a [routerLink]="['/category', roster.categoryId , 'view' ]" >{{roster.categoryId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/roster', roster.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/roster', roster.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/roster', { outlets: { popup: roster.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="rosters?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
